.test1{
    background-color: red;
    position:relative;
    left:50px;
    top:50px;
}
.test2{
    background-color: blue;
    position:fixed;
    left:50px;
    top:50px;
    width: 500px;
}
.test3{
    background-color: green;
    position:absolute;
    left:50px;
    top:50px;
    width: 500px;
}
section{

    min-height: 400px;
    border:1px solid black;
}