h1{
    background-color: red;
    background-image: url("https://dummyimage.com/300x200/004cf0/ffffff.png&text=test")  ;
    height:500px;
    background-size:100px ;
    background-repeat:no-repeat;

}
.first{
    background-color: grey;
    background-image:url("https://dummyimage.com/200x100/f000f0/303eff.png&text=test");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:scroll;
    height:400px;
}
.blue{
    background:red
    url("https://dummyimage.com/300x200/004cf0/ffffff.png&text=test") no-repeat fixed right bottom ;

    height:400px;
}