nav{
    display: inline-block;
    background-color: red;
    overflow: hidden;
    
}
nav a{
    color:white;
    text-decoration: none;
    margin:5px 5px; 
}
nav a:hover{
    background-color: gray;
}
*{
    box-sizing: border-box;
}
.test1{
    background-color: yellow;
    
    padding:40px;
    font-size: 2em;
}
.test2,.test3,.test4{
    float: left;
    width:33.3%;
    border: solid black;

}
footer{
    background-color: black;
    color:white;
    clear:both;
    height: 70px;
    text-align: center;
    
}